<div class="pub-entry">
  {{ reference }}

  <!-- Link section -->
  {% if entry.doi %}
    <a href="https://doi.org/{{ entry.doi }}">
      <img src="https://cdn.simpleicons.org/doi/FAB70C" width="20px" alt="DOI logo">
    </a>
  {% endif %}
  {% if entry.url %}
    <a href="{{ entry.url }}" target="_blank">
      <i class="fa-solid fa-link" style="font-size: 20px;"></i>
    </a>
  {% endif %}
  {% if entry.pdf %}
    <a href="{{ entry.pdf }}" target="_blank">
      <i class="fa-solid fa-file" style="font-size: 20px;"></i>
    </a>
  {% endif %}
  
</div>
