<div class="pub-entry">
  {{ reference }}

  <!-- Link section -->
  {% if entry.doi %}
    <a href="https://doi.org/{{ entry.doi }}">
      <img src="https://cdn.simpleicons.org/doi/FAB70C" width="20px" alt="DOI logo">
    </a>
  {% endif %}
  {% if entry.url %}
    <a href="{{ entry.url }}" target="_blank">
      <i class="fa-solid fa-link" style="font-size: 20px;"></i>
    </a>
  {% endif %}
  {% if entry.pdf %}
    <a href="{{ entry.pdf }}" target="_blank">
      <i class="fa-solid fa-file" style="font-size: 20px;"></i>
    </a>
  {% endif %}

  <i class="fas fa-search" style="font-size: 20px;" data-bs-toggle="modal" data-bs-target="#abstractModal{{ entry.key | slugify }}"></i>

  <div class="modal fade" id="abstractModal{{ entry.key | slugify }}" tabindex="-1" aria-labelledby="modalLabelAbstract{{ entry.key | slugify }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabelAbstract{{ entry.key | slugify }}">Abstract</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body" id="contentAbstract{{ entry.key | slugify }}">
            {% assign pair = site.data.abstracts.abstracts | where: "keyword", entry.key | first %}
            {{ pair.abstract }}
        </div>
      </div>
    </div>
  </div>

  <i class="fas fa-quote-left" style="font-size: 20px;" data-bs-toggle="modal" data-bs-target="#myModal{{ entry.key | slugify }}"></i>

  <div class="modal fade" id="myModal{{ entry.key | slugify }}" tabindex="-1" aria-labelledby="modalLabel{{ entry.key | slugify }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel{{ entry.key | slugify }}">BibTex</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body" id="content{{ entry.key | slugify }}">
          <em>Loading...</em>
        </div>
        <div class="modal-footer gap-3">
          
          <button id="buttonCopy{{entry.key | slugify}}" type="button" class="btn btn-primary copy-btn" data-target="content{{ entry.key | slugify }}">Copy in clipboard</button>
          
          <button id="buttonDownload{{entry.key | slugify}}" type="button" class="btn btn-primary" > Download citation</button>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const modalId = "myModal{{ entry.key | slugify }}";
    const modalElem = document.getElementById(modalId);
    const contentId = "content{{ entry.key | slugify }}";
    const contentElem = document.getElementById(contentId);
    const doi = modalElem.dataset.doi;
    let loaded = false;
    let currentBibtex = "";

    modalElem.addEventListener('show.bs.modal', () => {
      if (loaded) return;
      contentElem.textContent = "{{entry.bibtex}}";
      loaded = true;
      return;
    });
    const downloadButtonElem = document.getElementById("buttonDownload{{entry.key | slugify}}");
    downloadButtonElem.addEventListener("click",() => {
      const content = "{{ entry.bibtex | escape('js') }}";
      const fileName = "{{entry.key | escape('js') }}.bib";
      
      const blob = new Blob([content], { type: "text/plain" });

      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.download = fileName;

      document.body.appendChild(link);
      link.click();

      document.body.removeChild(link);
    });
  });
</script>
</div>
